{% extends "site_base.html" %}

{% load i18n %}

{% block page_title %}{{ page.title }}{% endblock %}

{% block body %}
    {% if editable %}
        <div class="pull-right">
            <a href="{% url 'cms_page_edit' page.path %}" class="btn btn-primary">
                <i class="icon-pencil icon-large"></i> {% trans "Edit page" %}</a>
        </div>
    {% endif %}

    {{ page.html_title|safe }}
    {{ page.html_subtitle|safe }}
    {{ page.body|safe }}

    {% if debug %}
        <dl>
            <dt>page.html_title</dt>
            <dd>{{ page.html_title }}</dd>
            <dt>page.html_subtitle</dt>
            <dd>{{ page.html_subtitle }}</dd>
            <dt>page.body</dt>
            <dd>{{ page.body }}</dd>
            <dt>page.html_body</dt>
            <dd>{{ page.html_body }}</dd>
        </dl>
    {% endif %}
{% endblock %}
